#nav-bar {
  background: #00a087;
  height: 80px;
  width: 100%;
  position: fixed;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: :2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height:80px;
  width: 80px;
  margin-left: 5px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 2.5;
  margin-left: 10px;
}
