/*
#tweet-container {
  background-color: white;
  width: 390px;
  height: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  bottom: 40px;
  margin: auto;
  margin-top: 1em;
}
*/
#tweet-container section{
  background-color: white;
  width: 390px;
  height: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  bottom: 40px;
  margin: auto;
  margin-top: 1em;
  opacity: 0.6;
}

  #tweet-container section:hover{
  opacity : 1;
}

 #tweet-container header {

   height: 80px;
   background-color: #eee;
   border -bottom: 1px solid black;
   z-index: 1

}

header img{
height:60px;
width: 60px;
margin-top: 10px;
margin-left: 10px;
float : left;
border-radius: 3px;
}

 header h3{
  float: left;
  margin-left: 10px;
}

 header h4{
  float: right;
  margin-right: 5px;
}

article {

   height: 100px;
   background-color: white;
   padding: 25px 0;
}
article textarea {
  size : 100%;

}

footer{
  border-top: 1px solid black;
  height: 40px;
}

footer span{
  padding-left: 5px;
  margin-top: 10px;
}

footer ion-icon:hover {
}

footer ion-icon{

  display : i;
  float: right;
  margin-right: 2em;
}
footer ion-icon:hover{
  visibility: visible;
}
